{% extends 'GravityFileBundle::base.html.twig' %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ url('gravity_admin_image_style_list') }}">Image Styles</a></li>
{% endblock %}

{% block page_title %}
    Image Styles
{% endblock %}

{% block page_desc %}
    Avaliable Image Styles
{% endblock %}

{% block plugin %}
    <div class="responsive-table">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for image_style in image_styles %}
                    <tr>
                        <td>{{ image_style.name|capitalize }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('gravity_admin_image_style_view', {name: image_style.name}) }}">
                                View
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
