{% extends 'GravityNodeBundle::base.html.twig' %}

{% set page_modules = ['cms/node/type/type'] %}

{% block page_title %}
    Content Types
{% endblock %}

{% block page_desc %}
    Create and Manage all content types
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="#"><i class="fa-th"></i> All Content Types</a></li>
{% endblock %}

{% block plugin %}
    <div class="responsive-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="70%">Name</th>
                    <th width="30%">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for contentType in contentTypes %}
                    <tr>
                        <td>
                            {{ contentType.name }}
                            {% if contentType.description %}
                                <p class="text-muted text-">
                                    <em>{{ contentType.description }}</em>
                                </p>
                            {% endif %}
                        </td>
                        <td class="valign-middle">
                            <a href="{{ url('gravity_admin_content_type_view', {type: contentType.id}) }}" class="btn btn-primary">View Fields</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
