{% stylesheets
    filter="compass" output="cms/file/css/file.css"
    "@GravityFileBundle/Resources/assets/sass/file.scss"
    %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<div class="file-browser">
    <div ng-file-browser upload-url="{{ path('gravity_admin_file_upload') }}"
        files-url="{{ path('gravity_api_get_files') }}"></div>
</div>
